/* https://www.w3schools.com/w3css/w3css_fonts.asp */
h1{font-size:64px;}
h2{font-size:48px;}
h3{font-size:36px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size:18px;}

@media only screen and (max-width: 600px) {
    section {
      width: 100%!important;
    }
  }

nav{
    width: 100%;
    background-color:#333;
    color: white;
    overflow: hidden;
    height: auto;
}

nav ul{
    vertical-align: baseline;
}

nav ul li a, nav ul li a:visited{
    vertical-align: baseline;
    padding: 10px 17px;
    color: white;
}

nav ul li{
    display: inline-flex;
    list-style-type: none;
    float: left; 
    height: auto;
    vertical-align: baseline;
    font-size: 20px;
}


nav ul li:hover{
    background-color: #000;
}

/* nav ul li a:active{
    background-color: #000;
} */

nav ul li a:link, nav ul i a:visited, nav ul i a:hover, nav ul i a:active {
    text-decoration: none; color: white;
  }

nav ul li:first-child{
    font-family: 'Archivo Black', sans-serif;
    background-color: #4CAF50;  /*got color from https://www.w3schools.com/css/css_navbar.asp */ 
}

section{
    width: 600px;   /* content width - article padding*/
    margin: auto;
}

section header{
    padding: 12px 7px;
}

article{
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    float: left;
    padding: 10px;
    background-color: white;

    /* Modified Code for shadow from https://css-tricks.com/almanac/properties/b/box-shadow/ */
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.4);
    box-shadow:0 0 10px rgba(0,0,0,0.4);
}

article header{
    box-sizing: border-box;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #000;
}

article p{
    margin: 12px;
}

article img{
    width: 50%;
    float: left;
    clear: both;
    padding-right: 10px;
}

/* Form is a modified version from an old project */
form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

form button:hover,form button:active,form button:focus {
    background: #43A047;
  }